*{
    margin: 0;
}

body{
    background-image: url('IT Images/office-33280.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 1349px;
	 background-size: cover;
}
/*************************** اللينكات الرئيسية ***************************/

.background{
    background-image: url('IT Images/CsBackground.jpg');
	 background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 650px;
}

.container { /*Make every thing in the middle */
	width: 750px;
	margin: auto;
    
}
.navbar {
    background-color: #EF7573;
	 color: #000;
	 overflow:hidden;
    font-size: 23px;
    opacity: .8;
    width: 100%;
    margin-bottom: 100px;
}

.navbar ul li{
	float: left;
	padding: 10px;
    list-style: none;
    opacity: 9;
    margin-top:20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.navbar ul li a{
    text-decoration: none;
    color: #000;
    opacity: 9;
}

/********** main **********/

.navbar ul li .colormain{
   color: #000;
}

.navbar ul .bordermain{
   background-color: #FFF;
   border-radius: 50%
}
   
/*************************/

.navbar:hover, .navbar ul li:hover, .navbar ul li a:hover{
    opacity: 10;
    color: #000;
}

/******************************JUST Logo***********************************/

.JUST_logo{
    position: absolute;
    left: 5px;
    width: 250px;
    height: 150px;
    overflow: hidden
}

/********************************go top icon*********************************/

.goTop{
   width: 70px;
   height: 70px;
   position: fixed;
   bottom: 5px;
   right: 5px;
}

/********************************Department Breif***********************************/

.DepBreif{
    background-color: #EF7573;
    direction: rtl;
    height: 282px;
    border-bottom : 1px solid #000;
    margin-bottom: 300px;
}

.DepBreif h1{
    text-align: center;
    color: #FFF;
    padding: 10px;
    border: 1px solid #000;
    margin-bottom: 15px;
}

.DepBreif h2{
	 direction: rtl;
    color: #FFF;
    padding: 5px;
    border: 1px solid #000;
    margin-bottom: 5px;
	 line-height: 30px
}

/********************************Department Group***********************************/

.DepGroup{
    background-image: url('IT Images/cs1234.jpg');
    background-size:contain;
    background-repeat: no-repeat;
    width: 580px;
    margin: auto;
    height: 323px;
    border-bottom : 1px solid #000;
    margin-bottom: 300px;
}

.DepGroup h1{
   direction: rtl;
    text-align: center;
    color: #000;
    padding: 0px;
    border: 1px solid #000;
    margin-bottom: 15px;
}

.DepGroup h2{
   background-color: #69B3D6;
   color: #FFF;
   width:300px;
   margin: 230px 135px;
   text-align: center;
   border-radius: 40%;
   border: 1px solid #00F;
   text-decoration: none;
}

.DepGroup a{
   text-decoration: none;
}

/********************************Material***********************************/

.material{
   height: 2830px;
   background-color: #EF7573;
   margin-bottom: 500px;
   border-bottom: 1px solid #757070;
}

.material h1, .material h2{
   color: #FFF;
   text-align: center;
   border: 1px solid #757070;
   padding: 10px;
   direction: rtl;
   margin-bottom: 20px;
}

.contain{
   margin: auto;
   width: 1000px;
}

/*********************one1*********************/

.one1{
   background-image: url('IT Images/cs11.jpg');
   height: 400px;
   padding-top: 59px;
   background-repeat: no-repeat
}

.one1 ul li{
   width: 80px;
   text-align: center;
   list-style: none;
   margin-top: 9px;
   border: 1px solid #000;
   padding: 3px;
   background-color: #FFF;
}

.one1 ul a{
   text-decoration: none;
   color: #000
}

/*********************one2*********************/

.one2{
   margin-top: -145px;
   background-image: url('IT Images/cs12.jpg');
   height: 400px;
   padding-top: 62px;
   background-repeat: no-repeat
}

.one2 ul li{
   width: 80px;
   text-align: center;
   list-style: none;
   margin-top: 9.6px;
   border: 1px solid #000;
   padding: 3px;
   background-color: #FFF;
}

.one2 ul a{
   text-decoration: none;
   color: #000
}

/*********************two1*********************/

.two1{
   margin-top: -150px;
   background-image: url('IT Images/cs21.jpg');
   height: 400px;
   padding-top: 50.5px;
   background-repeat: no-repeat
}

.two1 ul li{
   width: 80px;
   text-align: center;
   list-style: none;
   margin-top: 7px;
   border: 1px solid #000;
   padding: 1px;
   background-color: #FFF;
}

.two1 ul a{
   text-decoration: none;
   color: #000
}

/*********************two2*********************/

.two2{
   margin-top: -140px;
   background-image: url('IT Images/cs22.jpg');
   height: 400px;
   padding-top: 73px;
   background-repeat: no-repeat
}

.two2 ul li{
   width: 80px;
   text-align: center;
   list-style: none;
   margin-top: 9.5px;
   border: 1px solid #000;
   padding: 2px;
   background-color: #FFF;
}

.two2 ul a{
   text-decoration: none;
   color: #000
}

/*********************three1*****************/

.three1{
   margin-top: -158px;
   background-image: url('IT Images/cs31.jpg');
   height: 400px;
   padding-top: 65px;
   background-repeat: no-repeat
}

.three1 ul li{
   width: 80px;
   text-align: center;
   list-style: none;
   margin-top: 9.6px;
   border: 1px solid #000;
   padding: 3px;
   background-color: #FFF;
}

.three1 ul a{
   text-decoration: none;
   color: #000
}

/*********************three2*****************/

.three2{
   margin-top: -150px;
   background-image: url('IT Images/cs32.jpg');
   height: 400px;
   padding-top: 62px;
   background-repeat: no-repeat
}

.three2 ul li{
   width: 80px;
   text-align: center;
   list-style: none;
   margin-top: 10px;
   border: 1px solid #000;
   padding: 3px;
   background-color: #FFF;
}

.three2 ul a{
   text-decoration: none;
   color: #000
}

/*********************three3*****************/

.three3{
   margin-top: -150px;
   background-image: url('IT Images/cs33.jpg');
   height: 220px;
   padding-top: 70px;
   background-repeat: no-repeat
}

/*********************four1*****************/

.four1{
   margin-top: -145px;
   background-image: url('IT Images/cs41.jpg');
   height: 400px;
   padding-top: 70px;
   background-repeat: no-repeat
}

.four1 ul li{
   width: 80px;
   text-align: center;
   list-style: none;
   margin-top: 13px;
   border: 1px solid #000;
   padding: 3px;
   background-color: #FFF;
}

.four1 ul a{
   text-decoration: none;
   color: #000
}

/*********************four2*****************/

.four2{
   margin-top: -150px;
   background-image: url('IT Images/cs42.jpg');
   height: 400px;
   padding-top: 65px;
   background-repeat: no-repeat;
}

.four2 ul li{
   width: 80px;
   text-align: center;
   list-style: none;
   margin-top: 10px;
   border: 1px solid #000;
   padding: 3px;
   background-color: #FFF;
}

.four2 ul a{
   text-decoration: none;
   color: #000
}


/********************************Page End***********************************/

.end{
   width: 100%;
   height: 400px;
   background-image: url('IT Images/background-3147808_1920.jpg');
	background-size: cover;
   border: 1px solid #FF4282;
}

.end h1{
   text-align: center;
   color: #262626;
   border: 1px solid #C0378F;
   width: 20%;
   margin: auto;
}

.MyAcc{
   width: 550px;
   margin: auto;
}

.MyAcc ul li{
   margin: 25px;
   list-style: none;
   float: left;
   border-radius: 50%;
   background-color: #C0378F;
}

.MyAcc ul li:hover{
   border-radius: 50%;
   box-shadow: 5px 5px 15px #C0378F,
               -5px -5px 15px #C0378F;
}

.mypic{
   position:relative;
   top: 0px;
   left: 42.5%;
   border-radius: 50%;
   margin-top: 5px;
}

.mypic:hover{
   box-shadow: 5px 5px 15px #FF4282,
               -5px -5px 15px #FF4282;
}

.developedBy{
   display: block;
   color: #000;
   position: relative;
   bottom: -125px;
   right: 425px
}

